.main-content{
	display: flex;
	flex-direction: column;
	padding: 0px 15px;
}

#cy{
	background-color: white;
	display: block;
	flex-grow: 1;

	height: 100%;
	width: 100%;
}

h1{
	opacity: 0.5;
	font-size: 1em;
	font-weight: bold;
}
	
#modal-visualizacion-imagen-nodo .modal-body{
	width: 498px;
    height: 450px;
}


#modal-visualizacion-imagen-nodo .modal-body img{
	width: 100%;
    height: 95%;
    object-fit: contain;
    object-position: center;
}