<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <h2>Recuperar contraseña</h2>
      </div>
      <div class="d-flex justify-content-center">
        <h2></h2>
      </div>
      <div class="d-flex justify-content-center">
          <p>Se le enviará la contraseña al correo</p>
          <p></p>
      </div>
      
    
  <div class="d-flex justify-content-center mt-3 login_container">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span >
      </div>
      <input type="text" name="password" class="form-control input_user" value="" placeholder="Correo" [(ngModel)]="correo">
      
    </div>    
    
  
  <div class="d-flex justify-content-center mt-3 login_container">
    <button type="button" name="button" class="btn login_btn" (click)="recuperar()">Enviar</button>
  </div>
  <div class="mt-4">
    <div class="d-flex justify-content-center links">
       <a routerLink="/login" >Volver al inicio</a>
    </div>
  </div>
</div>
</div>
</div>