<div class="main-content">
	<div class="col-12 col-sm-12 col-md-6 p-0 pl-md-3 pr-md-3 mb-4 mb-md-5 div-nodos">
		<div class="ctrl" style="background:#DCE3E8">
			<input class="btn btn-default btn-sm mt-0 mb-0" type="submit" value="Organizar grupos"
				(click)="organizar()">
		</div>
		<div id="cy">
		</div>
	</div>
	<div class="col-12 col-sm-12 col-md-6 p-0 pl-md-3 pr-md-3 mb-5 align-items-start align-items-md-center div-escrito">
		<div [hidden]="grupoSeleccionado" class="modal-content modal-content-mensaje">Por favor seleccione un grupo.
		</div>
		<div [hidden]="!grupoSeleccionado" class="modal-content modal-content-form">
			<div class="modal-header" style="color:white;background:#0C5F97;">
				<h4 class="modal-tittle">{{grupoSeleccionado?.nombre}}</h4>
			</div>
			<!-- contenido de la ventana-->
			<div class="modal-body">
				<form class="escrito-actual" #formEscrito="ngForm">
					<div class="form-group">
						<label for="nombre-escrito">Titulo</label>
						<input type="text" id="nombre-escrito" #nombreEscritoInput="ngModel" class="form-control"
							[(ngModel)]="escritoSeleccionado.nombre" name="nombreNuevoEscritoInput" minlength="10"
							maxlength="40" [disabled]="!grupoSeleccionado" required>
						<div
							*ngIf="nombreEscritoInput?.dirty && nombreEscritoInput?.touched && nombreEscritoInput?.errors?.minlength">
							<div class="alert alert-danger d-flex justify-content-between align-items-center"
								role="alert" style="height:50px;text-align:center;background:#F08080">
								<a>Debe tener entre 10 y 40 caracteres</a>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"
									style="color:#FFFFFF">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div>
					<div class="form-group descripcion-escrito">
						<label for="descripcion">Descripción</label>
						<textarea id="descrip" cols="55" rows="5" #descripcionEscritoInput="ngModel"
							class="form-control" [(ngModel)]="escritoSeleccionado.descripcion"
							name="descripcionEscritoInput" minlength="20" maxlength="500"
							[disabled]="!grupoSeleccionado" required></textarea>
						<div
							*ngIf="descripcionEscritoInput?.dirty && descripcionEscritoInput?.touched && descripcionEscritoInput?.errors?.minlength">
							<div class="alert alert-danger d-flex justify-content-between align-items-center"
								role="alert" style="height:50px;text-align:center;background:#F08080">
								<a>Debe tener minimo 20 caracteres</a>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"
									style="color:#FFFFFF">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div>
					<button *ngIf="!existeEscrito" type="submit" style="background:#0C5F97" class="btn btn-info"
						[disabled]="formEscrito.invalid || getOPutEnProceso" (click)="crearEscrito()">
						<span class="spinner-absoluto spinner-border spinner-border-sm" role="status" aria-hidden="true"
							*ngIf="getOPutEnProceso"></span>
						Crear
					</button>
					<button *ngIf="existeEscrito" type="submit" style="background:#0C5F97" class="btn btn-info"
						[disabled]="formEscrito.invalid || formEscrito.pristine || getOPutEnProceso || deleteEnProceso"
						(click)="editarEscrito()">
						<span class="spinner-absoluto spinner-border spinner-border-sm" role="status" aria-hidden="true"
							*ngIf="getOPutEnProceso"></span>
						Guardar cambios.
					</button>
					<button class="btn btn-danger" (click)="eliminarEscrito()" *ngIf="existeEscrito"
						[disabled]="deleteEnProceso || getOPutEnProceso">
						<span class="spinner-absoluto spinner-border spinner-border-sm" role="status" aria-hidden="true"
							*ngIf="deleteEnProceso"></span>
						Eliminar
					</button>
				</form>
			</div>
		</div>
	</div>

	<div id="modal-visualizacion-imagen-nodo" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- contenido del titulo -->
				<div class="modal-header" style="color:white; background:#0C5F97;">
					<h4 class="modal-tittle">{{nodoSeleccionado?.nombre}}</h4>
					<button tyle="button" style="color:#FFFFFF" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<!-- contenido de la ventana-->
				<div class="modal-body">
					<a [href]="nodoSeleccionado?.urlFoto" target="_blank">Abrir imagen en una pestaña nueva.</a>
					<img src="{{nodoSeleccionado?.urlFoto}}" class="mt-2 mb-2" alt="Imagen nodo">
					<span>
						<strong>Creador: </strong>{{nodoSeleccionado?.nombreCreador}}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>