.toasts-container{
    width: 400px;
    position: fixed;
    z-index: 100;
    bottom: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    visibility: hidden;
}

.toast{
    min-width: 250px;
}