<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-chart" style="background:#FFFFFF">
					<div class="card-body">
						<button type="button" class="btn" style="background:#0C5F97" aria-label="Close"
							(click)="abrirModal()">
							Crear problematica
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div *ngFor="let problematica of problematicas" class="col-md-3">
				<div class="card card-chart problematica-card">
					<div class="card-header">
						<img src="./assets/img/unibague_opt.png" class="card-img-top img-fluid">
						<div class="ct-chart" id=""></div>
					</div>
					<div class="card-body">
						<h4 class="card-title">{{problematica.nombre}}</h4>
						<button class="btn" style="background:#0C5F97" (click)="cargarInvitados(problematica)"
							*ngIf="problematica.esInterventor" data-target="#invitaciones" data-toggle="modal">
							Invitar
						</button>
						<button class="btn" style="background:#0C5F97" (click)="cargarInvitados(problematica)"
							data-target="#informacion" data-toggle="modal">
							Info
						</button>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">access_time</i>Creada el {{problematica.fechaCreacion}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="mi-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- contenido del titulo -->
					<div class="modal-header" style="color:white; background:#0C5F97;">
						<h4 class="modal-tittle"> Crear problemática</h4>
						<button tyle="button" style="color:#FFFFFF" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<!-- contenido de la ventana-->
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="nombre-problematica">Nombre</label>
								<input type="text" id="nombre-problematica" name="nombreProble" #nombreProble="ngModel"
									class="form-control" [(ngModel)]="nombreNuevaProblematica"
									name="nombreNuevaProblematicaInput" minlength="10" maxlength="40" required>
								<div *ngIf="nombreProble?.touched">
									<div class="alert alert-danger" role="alert"
										style="height:50px;text-align:center;background:#F08080"
										*ngIf="nombreProble?.errors?.minlength">
										<a>Debe tener minimo 10 caracteres</a>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"
											style="color:#FFFFFF">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="descripcion">Descripción</label>
								<textarea id="descrip" name="descrip" cols="55" rows="5" #descrip="ngModel"
									class="form-control" [(ngModel)]="descripcionNuevaProblematica"
									name="descripcionNuevaProblematicaInput" minlength="20" maxlength="500"
									required></textarea>
								<div *ngIf="descrip?.touched">
									<div class="alert alert-danger" role="alert"
										style="height:50px;text-align:center;background:#F08080"
										*ngIf="descrip?.errors?.minlength">
										<a>Debe tener minimo 20 caracteres</a>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"
											style="color:#FFFFFF">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
							</div>
							<button tyle="button" style="background:#0C5F97" class="btn btn-info"
								(click)="crearProblematica()">Crear</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="" class="modal fade" id="invitaciones">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<!-- contenido del titulo -->
					<div class="modal-header" style="color:white;background:#0C5F97; ">
						<h4 class="modal-tittle"> Invitaciones ( {{problematicaSeleccionada.nombre}} )</h4>
						<button style="color:#FFFFFF" tyle="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<!-- contenido de la ventana-->
					<div class="modal-body">
						<form>
							<div>
								<input id="pac-input" placeholder="Busca a alguien por su correo" autocomplete="off"
									class="controls form-control bootstrap-typeahead" type="text"
									[(ngModel)]="correoAInvitar" name="correoAInvitarInput">
								<div class="acciones-al-invitar">
									<div class="checkbox-interventor noselect">
										<input type="checkbox" id="esInterventor"
											[(ngModel)]="invitacionParaInterventor" name="esInterventorInput">
										<label for="esInterventor">Interventor</label>
									</div>
									<button style="background:#0C5F97" class="btn btn-info btn-sm"
										[disabled]="correoAInvitar?.length < 4" (click)="invitar()">Invitar</button>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead class="">
										<th>
											Invitado
										</th>
										<th>
											Estado
										</th>
										<th>
											Interventor
										</th>
										<th style="text-align: center;">
											Acciones
										</th>
									</thead>
									<tbody>
										<tr *ngFor="let invitacion of invitaciones">
											<td>
												{{invitacion.emailDestinatario}}
											</td>
											<td
												[ngClass]="darClassEstado(invitacion.estaVigente, invitacion.rechazada)">
												{{darEstadoInvitacion(invitacion.estaVigente, invitacion.rechazada)}}
											</td>
											<td>
												{{invitacion.paraInterventor ? 'Si' : 'No'}}
											</td>
											<td style="text-align: center;">
												<button class="btn btn-danger btn-sm"
													(click)="eliminarInvitacion(invitacion.id)"
													*ngIf="invitacionBorrable(invitacion.estaVigente, invitacion.rechazada)"
													aria-hidden="true">
													<i class="fas fa-trash"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="informacion">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- contenido del titulo -->
					<div class="modal-header" style="color:white;background:#0C5F97; ">
						<h4 class="modal-tittle"> Información</h4>
						<button style="color:#FFFFFF" tyle="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<h5 style="font-weight: bold">Nombre</h5>
						<p>{{problematicaSeleccionada.nombre}}</p>
						<hr>
						<h5 style="font-weight: bold">Descripcion</h5>
						<p> {{problematicaSeleccionada.descripcion}} </p>
						<hr>
						<h5 style="font-weight: bold">Etapa</h5>
						<p> {{darFaseProblematica()}} </p>
					</div>
					<div class="modal-footer">
						<button style="background:#0C5F97" type="button" class="btn btn-primary" (click)="participar()"
							data-dismiss="modal" aria-label="Close"> Participar</button>
						<button style="background:#0C5F97" type="button" class="btn btn-primary" (click)="avanzarFase()"
							*ngIf="problematicaSeleccionada.esInterventor"> Avanzar fase</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>