<div class="main-content">
	<div class="row-container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card card-chart" style="background:#FFFFFF">
					<div class="card-body">
						<button type="button" class="btn" style="background:#0C5F97" aria-label="Close"
							(click)="abrirModal()">
							Crear
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div *ngFor="let problematica of problematicas" class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card card-chart problematica-card"  >
					<div class="card-header">
						<img src="./assets/img/unibague_opt.png" class="card-img-top img-fluid">
						<div class="ct-chart" id=""></div>
					</div>
					<div class="card-body">
						<h4 class="card-title">{{problematica.nombre}}</h4>
						<button class="btn" style="background:#0C5F97" (click)="cargarInvitados(problematica)"
							*ngIf="sePuedeInvitar(problematica)" data-target="#invitaciones" data-toggle="modal">
							Invitar
						</button>
						<button class="btn" style="background:#0C5F97" (click)="cargarInvitados(problematica)"
							data-target="#informacion" data-toggle="modal">
							Info 
						</button>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">access_time</i>Creada el {{problematica.fechaCreacion}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="mi-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- contenido del titulo -->
					<div class="modal-header" style="color:white; background:#0C5F97;">
						<h4 class="modal-tittle"> Crear problemática</h4>
						<button tyle="button" style="color:#FFFFFF" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<!-- contenido de la ventana-->
					<div class="modal-body">
						<form *ngIf="problematicasTerminadas.length > 0">
							<div class="form-group">
								<label for="problematicasTerminadas">Problematicas terminadas</label>
								<select class="form-control" id="problematicasTerminadas"
									(change)="buscarEscritosPorProblematica($event.target.value)">
									<option disabled selected>Seleccione una problematica (Opcional)</option>
									<option *ngFor="let problematica of problematicasTerminadas"
										[value]="problematica.id">
										{{problematica.nombre}}
									</option>
								</select>
							</div>
							<div class="form-group">
								<label for="escritos">Escritos</label>
								<select class="form-control" id="escritos"
									(change)="cambioEscrito($event.target.value)">
									<option disabled selected>Seleccione un escrito (Opcional)</option>
									<option *ngFor="let escrito of escritos" [value]="escrito">
										{{escrito.nombre}}
									</option>
								</select>
							</div>
						</form>
						<form #formProblematica="ngForm">
							<div class="form-group">
								<label for="nombre-problematica">Nombre</label>
								<input type="text" id="nombre-problematica" name="nombreProble" #nombreProble="ngModel"
									class="form-control" [(ngModel)]="nombreNuevaProblematica"
									name="nombreNuevaProblematicaInput" minlength="10" maxlength="40" required>
								<div *ngIf="nombreProble?.touched">
									<div class="alert alert-danger" role="alert"
										style="height:50px;text-align:center;background:#F08080"
										*ngIf="nombreProble?.errors?.minlength">
										<a>Debe tener entre 10 y 40 caracteres</a>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"
											style="color:#FFFFFF">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="descripcion">Descripción</label>
								<textarea id="descrip" name="descrip" cols="55" rows="5" #descrip="ngModel"
									class="form-control" [(ngModel)]="descripcionNuevaProblematica"
									name="descripcionNuevaProblematicaInput" minlength="20" maxlength="500"
									required></textarea>
								<div *ngIf="descrip?.touched">
									<div class="alert alert-danger" role="alert"
										style="height:50px;text-align:center;background:#F08080"
										*ngIf="descrip?.errors?.minlength">
										<a>Debe tener minimo 20 caracteres</a>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"
											style="color:#FFFFFF">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
							</div>
							<button tyle="button" style="background:#0C5F97" class="btn btn-info"
								[disabled]="formProblematica.invalid" (click)="crearProblematica()">Crear</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="" class="modal fade" id="invitaciones">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<!-- contenido del titulo -->
					<div class="modal-header" style="color:white;background:#0C5F97; ">
						<h4 class="modal-tittle"> Invitaciones ( {{problematicaSeleccionada.nombre}} )</h4>
						<button style="color:#FFFFFF" tyle="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<!-- contenido de la ventana-->
					<div class="modal-body">
						<form>
							<div>
								<input id="pac-input" placeholder="Busca a alguien por su correo" autocomplete="off"
									class="controls form-control bootstrap-typeahead" type="text"
									[(ngModel)]="correoAInvitar" name="correoAInvitarInput">
								<div class="acciones-al-invitar">
									<div class="checkbox-interventor noselect">
										<input type="checkbox" id="esInterventor"
											[(ngModel)]="invitacionParaInterventor" name="esInterventorInput">
										<label for="esInterventor">Interventor</label>
									</div>
									<button style="background:#0C5F97" class="btn btn-info btn-sm"
										[disabled]="correoAInvitar?.length < 4" (click)="invitar()">Invitar</button>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead class="">
										<th>
											Invitado
										</th>
										<th>
											Estado
										</th>
										<th>
											Interventor
										</th>
										<th style="text-align: center;">
											Acciones
										</th>
									</thead>
									<tbody>
										<tr *ngFor="let invitacion of invitaciones">
											<td>
												{{invitacion.emailDestinatario}}
											</td>
											<td
												[ngClass]="darClassEstado(invitacion.estaVigente, invitacion.rechazada)">
												{{darEstadoInvitacion(invitacion.estaVigente, invitacion.rechazada)}}
											</td>
											<td>
												{{invitacion.paraInterventor ? 'Si' : 'No'}}
											</td>
											<td style="text-align: center;">
												<button class="btn btn-danger btn-sm"
													(click)="eliminarInvitacion(invitacion.id)"
													*ngIf="invitacionBorrable(invitacion.estaVigente, invitacion.rechazada)"
													aria-hidden="true">
													<i class="fas fa-trash"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="informacion">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- contenido del titulo -->
					<div class="modal-header" style="color:white;background:#0C5F97; ">
						<h4 class="modal-tittle"> Información</h4>
						<button style="color:#FFFFFF" tyle="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<h5 style="font-weight: bold">Nombre</h5>
						<p>{{problematicaSeleccionada.nombre}}</p>
						<hr>
						<h5 style="font-weight: bold">Descripcion</h5>
						<p> {{problematicaSeleccionada.descripcion}} </p>
						<hr>
						<h5 style="font-weight: bold">Etapa</h5>
						<p> {{darFaseProblematica()}} </p>
					</div>
					<div class="modal-footer">
						<div *ngIf="problematicaSeleccionada.fase < 5" class="d-flex flex-wrap justify-content-end">
							<button style="background:#0C5F97" class="btn btn-primary" (click)="participar()"
								data-dismiss="modal" aria-label="Close"
								*ngIf="0 < problematicaSeleccionada.fase">
								Participar
							</button>
							<button class="btn" style="background:#0C5F97" data-target="#confirmarFase" 
								data-dismiss="modal"
								*ngIf="problematicaSeleccionada.esInterventor" data-toggle="modal"
								(click)="darInfoAlAvanzar()">
								<span *ngIf="problematicaSeleccionada.fase === 0">Iniciar problematica</span>
								<span *ngIf="0 < problematicaSeleccionada.fase && problematicaSeleccionada.fase < 4">
									Avanzar 
									<span class="d-none d-sm-inline">fase</span>
								</span>
								<span *ngIf="problematicaSeleccionada.fase === 4">
									Finalizar 
									<span class="d-none d-sm-inline">problematica</span>
								</span>
							</button>
						</div>
						<button class="btn"
							*ngIf="problematicaSeleccionada.fase === 5"
							data-dismiss="modal" aria-label="Close"
							(click)="verResultados()">
							Resultados
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--modal de confirmacion-->
		<div class="modal fade" id="confirmarFase">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- contenido del titulo -->
					<div class="modal-header" style="color:white;background:#0C5F97; ">
						<h4 class="modal-title" id="modal-title">Confirmar</h4>
						<button style="color:#FFFFFF" tyle="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div *ngIf="problematicaSeleccionada.fase === 0">
							<p><strong>¿Estás seguro? </strong></p>
							<span>Actualmente hay
								<span class="text-danger">{{datosProblematica.cantidadParticipantes}}</span> 
								participantes incluyendote.
							</span>
							<span>
								Recuerde que
								<span class="text-danger">NO</span>
								se puede devolver la fase.
							</span>
						</div>
						<div *ngIf="problematicaSeleccionada.fase === 1">
							<div *ngIf="sePuedeAvanzarFase()">
								<p><strong>¿Estás seguro? </strong></p>
								<span>Actualmente se han creado
									<span class="text-danger">{{datosProblematica.cantidadNodos}}</span> 
									nodos entre los {{datosProblematica.cantidadParticipantes}} participantes.
								</span>
								<span>
									Recuerde que
									<span class="text-danger">NO</span>
									se puede devolver la fase.
								</span>
							</div>
							<div *ngIf="!sePuedeAvanzarFase()">
								<span>No es posible avanzar la fase a menos que </span>
								<span>haya al menos 2 nodos en toda la problematica.</span>
							</div>
						</div>
						<div *ngIf="problematicaSeleccionada.fase === 2">
							<div *ngIf="sePuedeAvanzarFase()">
								<p><strong>¿Estás seguro? </strong></p>
								<span>Actualmente se han creado
									<span class="text-danger">{{datosProblematica.cantidadGrupos}}</span> 
									grupos entre {{datosProblematica.cantidadNodos}} nodos.
								</span>
								<span>
									Recuerde que
									<span class="text-danger">NO</span>
									se puede devolver la fase.
								</span>
							</div>
							<div *ngIf="!sePuedeAvanzarFase()">
								<span>No es posible avanzar la fase a menos que </span>
								<span>haya al menos 1 grupo en toda la problematica.</span>
							</div>
						</div>
						<div *ngIf="problematicaSeleccionada.fase === 3">
							<div *ngIf="sePuedeAvanzarFase()">
								<p><strong>¿Estás seguro? </strong></p>
								<span>Actualmente se ha reaccionado
									<span class="text-danger">{{datosProblematica.cantidadReacciones}}</span> 
									veces, para un total de {{datosProblematica.cantidadParticipantes * datosProblematica.cantidadGrupos}} 
									reacciones.
								</span>
								<span>
									Recuerde que
									<span class="text-danger">NO</span>
									se puede devolver la fase.
								</span>
							</div>
							<div *ngIf="!sePuedeAvanzarFase()">
								<span>No es posible avanzar la fase a menos que </span>
								<span>haya 1 reaccion en toda la problematica.</span>
							</div>
						</div>
						<div *ngIf="problematicaSeleccionada.fase === 4">
							<div *ngIf="sePuedeAvanzarFase()">
								<p><strong>¿Estás seguro? </strong></p>
								<span>Actualmente se han realizado
									<span class="text-danger">{{datosProblematica.cantidadEscritos}}</span> escritos 
									entre {{datosProblematica.cantidadParticipantes}} participantes y {{datosProblematica.cantidadGrupos}} grupos.
								</span>
								<span>
									Recuerde que
									<span class="text-danger">NO</span>
									se puede devolver la fase.
								</span>
							</div>
							<div *ngIf="!sePuedeAvanzarFase()">
								<span>No es posible terminar la fase menos que </span>
								<span>haya al menos 1 escrito en toda la problematica.</span>
							</div>
						</div>
					</div>
					<div class="modal-footer" *ngIf="sePuedeAvanzarFase()">
						<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
						<button style="background:#0C5F97" type="button" class="btn btn-primary" data-dismiss="modal"
							(click)="avanzarFase()"> Si</button>
					</div>
				</div>
			</div>
		</div>
		<!--modal de confirmacion-->
		<div class="modal fade" id="confirmarFase">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- contenido del titulo -->

					<div class="modal-header" style="color:white;background:#0C5F97; ">
						<h4 class="modal-title" id="modal-title">Confirmar</h4>
						<button style="color:#FFFFFF" tyle="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p><strong>¿Estás seguro? </strong></p>
						<p *ngIf="estaEnFase(0)">Actualmente hay
							<span class="text-danger">{{datosProblematica.cantidadParticipantes}}</span> participantes.
							Recuerde que
							<span class="text-danger">NO </span>se puede devolver la fase.
						</p>
						<p *ngIf="estaEnFase(1)">Actualmente se han elaborado
							<span class="text-danger">{{datosProblematica.cantidadNodos}}</span> nodos. Recuerde que
							<span class="text-danger">NO </span>se puede devolver la fase.

						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary"
							(click)="modal.dismiss('cancel click')">No</button>
						<button style="background:#0C5F97" type="button" class="btn btn-primary"
							(click)="avanzarFase()"> Si</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>