.form-control input_user::-webkit-input-placeholder {
  text-align: center;  
}

main-content{
  padding: 0px 15px 30px 15px;
}

.card.card-chart{
  margin:10px;
}

.card-title{
  height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card-category{
  height: 50px;

  display: -webkit-box; 
  -webkit-box-orient: 
  vertical; 
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card .btn{
  width: 100%;
}


.invitacion{
  display: flex;
  justify-content: space-between;
  align-items: center;
}