.form-control input_user::-webkit-input-placeholder {
  text-align: center;  
}

main-content{
  padding: 0px 15px 30px 15px;
}

.row-container{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.row-container .row{
	width: 100%;
}

.card.card-chart{
	margin: 10px 0px;
}

.problematica-card{
  min-height: 427px;
}

.card-title{
  height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card-body button{
	display: flex;
    justify-content: center;
}

.card-category{
  height: 50px;

  display: -webkit-box; 
  -webkit-box-orient: 
  vertical; 
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card .btn{
  width: 100%;
}

.acciones-al-invitar{
  display: flex;
	justify-content: flex-end;
	align-items: center;
}

.invitacion{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-interventor{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.checkbox-interventor label{
  margin-bottom: 0px;
  margin-left: 5px;
}

td .btn{
  margin:0px;
}

input.form-control:focus{
  border-color: none;
  box-shadow: none;
}