<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header" style="background:#CAC8C8">
        <h3 class="card-title" style="text-align:center">Notificaciones</h3>
      </div>
      <br>
      <div class="card-body">
        <div class="row" *ngFor="let invitacion of invitaciones">
          <div class="col-md-9">
            <div class="alert alert-info alert-with-icon" data-notify="container" style="background:#0C5F97">
              <i class="material-icons" data-notify="icon">add_alert</i>
              <span data-notify="message">
                {{invitacion.nombreRemitente}} - {{invitacion.nombreProblematica}} - {{invitacion.descripcionProblematica}} 
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="alert ">
              <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <a  (click)="aceptarInvitacion(invitacion, true)"> Aceptar </a>  
                <a (click)="rechazarInvitacion(invitacion)">     --     Rechazar </a> 
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>