<div class="main-content">
    <div class="container-fluid" style="align-items: center; justify-content: center;">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/silueta-gris.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Administrador</h6>
                        <h4 class="card-title">{{nombreUsuario }}{{apellido}}</h4>
                        <p class="card-description">
                            Esta app fue creada para complementar la investigación, en ella
                            puedes crear problematicas, invitar personas,
                            subir imagenes y muchas cosas más...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>